# Python
env

# Django 
*.log
*.pot
*.pyc
__pycache__
/__pycache__/
__pycache__/
*.py[cod]
db.sqlite3
media
.vscode/settings.json
src/config/__pycache__/settings.cpython-311.pyc
src/config/__pycache__/settings.cpython-311.pyc
/test
text_to_book.py
src/config/local_settings.py
src/config/__pycache__/settings.cpython-311.pyc
src/yandex_dictionary_log.txt
404_words.txt
src/.env
