# Python
env

# Django 
*.log
*.pot
*.pyc
__pycache__
/__pycache__/
__pycache__/
*.py[cod]
db.sqlite3
media
.vscode/settings.json
src/config/__pycache__/settings.cpython-311.pyc
src/config/__pycache__/settings.cpython-311.pyc
